QUARKUS_AZURE_SERVICEBUS_CONNECTION_STRING=Endpoint=sb://<namespace>.servicebus.windows.net/;SharedAccessKeyName=<key-name>;SharedAccessKey=<key>;EntityPath=<queue-name>
QUARKUS_AZURE_SERVICEBUS_NAMESPACE=sbns-fiap-feedback-platform
QUARKUS_AZURE_SERVICEBUS_QUEUE_NAME=sbq-feedbacks-critical-queue
QUARKUS_DATASOURCE_PASSWORD=<password>
QUARKUS_DATASOURCE_USERNAME=feedback
QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://<db-host>:5432/postgres?sslmode=require
QUARKUS_DB_KIND=PostgreSQL
